* {
  @include box-sizing(border-box);
  font-family: 'Open Sans', sans-serif;
}

body {
    background:url("/images/cream_pixels.png") top center repeat #FFF;
}

.logo {
  height: 3em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
}

h1 a,
h2 a,
h3 a,
h4 a {
  font-family: 'Oswald', sans-serif;
}

h1 a:link, h1 a:visited, h1 a:active,
h2 a:link, h2 a:visited, h2 a:active,
h3 a:link, h3 a:visited, h3 a:active,
h4 a:link, h4 a:visited, h4 a:active {
  color: #333;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #888;
}

a:link, a:visited {
  color: #ee802b;
}

a:hover, a:active {
  color: #84481a;
}
