* {
  @include box-sizing(border-box);
  font-family: 'Open Sans', sans-serif;
}

body {
    background:url("/images/cream_pixels.png") top center repeat #FFF;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
}

h1 a,
h2 a,
h3 a,
h4 a {
  font-family: 'Oswald', sans-serif;
}

h1 a:link, h1 a:visited, h1 a:active,
h2 a:link, h2 a:visited, h2 a:active,
h3 a:link, h3 a:visited, h3 a:active,
h4 a:link, h4 a:visited, h4 a:active {
  color: #333;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #888;
}

a:link, a:visited {
  color: #ee802b;
}

a:hover, a:active {
  color: #84481a;
}

a.btn:link, a.btn:visited {color: #ffffff;}

a.btn-default:link, a.btn-default:visited {color: #ee802b;}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: #f0f0f0;
}

.btn-primary {background: #004358; border: 0px;}
.btn-primary:hover {background: #006180;}

.btn-success {background: #1F8A70; border: 0px; }
.btn-success:hover {background: #1cab88;}

.btn-warning {background: #ee802b;}

.btn .fa {padding-right: 12px;}

.videos .col-md-3 {min-height: 280px;}

ul#all-tags li {
    margin-bottom: 7px;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 2px;
}

/**
 * Binary Reader
 */

#binary-reader-table {
  width: 100%;
  height: 350px;
  font-size: 1.7em;
}

#binary-reader-table th,
#binary-reader-table td {
  text-align: center;
  padding: 5px;
}

#binary-reader-table thead tr th:first-child {
  width: 3em;
}

#word-input input,
#letter-position input {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 80%;
}

#binary-reader-table .hole {
  background: no-repeat url(/images/circle-off.png);
  background-size: 30%;
  background-position: 40%;
}

#binary-reader-table .hole.on {
  background-image: url(/images/circle-on.png);
}

#binary-reader-table .hole.on-1 { background-image: url(/images/circle-on-1.png); }
#binary-reader-table .hole.on-2 { background-image: url(/images/circle-on-2.png); }
#binary-reader-table .hole.on-3 { background-image: url(/images/circle-on-3.png); }
#binary-reader-table .hole.on-4 { background-image: url(/images/circle-on-4.png); }
#binary-reader-table .hole.on-5 { background-image: url(/images/circle-on-5.png); }
#binary-reader-table .hole.on-6 { background-image: url(/images/circle-on-6.png); }
#binary-reader-table .hole.on-7 { background-image: url(/images/circle-on-7.png); }
#binary-reader-table .hole.on-8 { background-image: url(/images/circle-on-8.png); }

.mentor {
  position: relative;
  margin-bottom: 30px;
}

.mentor .availability {
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  color: #fff;
  background: rgba(238,128,43,1)
}
.mentor .availability-taken {
  background: #aaa;
}

.mentor .media-heading {
  margin: 0;
}

.mentor .skills {
  margin-top: 6px;
}

/**
 * Design Things
 */

.navbar-default {
    background: #ffffff;
    border-radius: 0px;
    margin-bottom: 0px;
}

.title-header {
    background: rgba(238,128,43,1);
    color: #fff;
}

h1.page-title {
    padding-bottom: 14px;
    padding-top: 20px;
}

.main {padding-top: 12px; }

.fluid-container .container .row {padding-left: 15px; padding-right: 15px;}

footer {background: rgba(238, 128, 43, 1); color: #ffffff; padding: 80px 0px 60px 0px; margin-top: 30px;}

footer a:link, footer a:visited {
    color: #ffffff;
}
footer a:link:hover, footer a:visited:hover {
    color: #333333;
}
footer .fa {padding: 2px;}

footer .fa-inverse { color: #EB7E32;}

.fa-stack {
   vertical-align: top;
    margin-right: 6px;
    position: relative;
}

h2 .fa-stack {
    margin-top: -14px;
}

h2 .fa {padding-right: 10px;}

.underline {    text-decoration: underline;}

.fa-top {
    top: 6px;
    color: #EB7E32;
    padding-left: 4px;
}

.fa-bottom {
  color: #eeeeee;
}

.pagination>li>a, .pagination>li>span {
    color: #EB7E32;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #EB7E32;
    border-color: #EB7E32;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #84481a;
    background-color: #eee;
    border-color: #ddd;
}

.logo {
    width: 160px;
    height: auto;
    display: block;
}

.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
}

.navbar-nav {
  font-size: .8em;
}

@media (min-width: 992px) {
  .navbar-nav {
    font-size: 1em;
  }
}

/*#binary-reader-table .hole span {*/
/*  background: #fff;*/
/*  border: 1px solid black;*/
/*  border-radius: 50%;*/
/*  display: inline-block;*/
/*  width: 40%;*/
/*  height: 90%;*/
/*}*/

/*#binary-reader-table .hole.on span {*/
/*  background: #aaa;*/
/*}*/
