* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: url("/images/cream_pixels.png") top center repeat #fff;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

p,
ul,
ol {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 a,
h2 a,
h3 a,
h4 a {
  font-family: "Oswald", sans-serif;
}

h1 a:link,
h1 a:visited,
h1 a:active,
h2 a:link,
h2 a:visited,
h2 a:active,
h3 a:link,
h3 a:visited,
h3 a:active,
h4 a:link,
h4 a:visited,
h4 a:active {
  color: #333;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: #888;
}

a:link,
a:visited {
  color: #ee802b;
}

a:hover,
a:active {
  color: #84481a;
}

a.btn:link,
a.btn:visited {
  color: #ffffff;
}

a.btn-default:link,
a.btn-default:visited {
  color: #ee802b;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #f0f0f0;
}

.btn-primary {
  background: #004358;
  border: 0px;
}
.btn-primary:hover {
  background: #006180;
}

.btn-success {
  background: #1f8a70;
  border: 0px;
}
.btn-success:hover {
  background: #1cab88;
}

.btn-warning {
  background: #ee802b;
}

.btn .fa {
  padding-right: 12px;
}

.videos .col-md-3 {
  min-height: 280px;
}

ul#all-tags li {
  margin-bottom: 7px;
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 2px;
}

/**
 * Banner
 */
.banner {
  position: relative;
  overflow: hidden;
  /* background: #011d25; */
}
.banner-slide {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 6.25em;
  padding: 0 1rem;
  font-size: 2em;
}

.banner-title {
  color: #ee802b;
  line-height: 1.25;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  max-width: 20em;
  margin-bottom: 0.5em;
}

a.banner-link {
  padding: 0.85em;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.3em;
  font-weight: bold;
  color: #fff;
  border: 1px solid #fff;
  width: 10em;
  text-align: center;
  transition: all 0.3s;
}
.banner-link:hover {
  color: #fff;
  background-color: #ee802b;
  border-color: #ee802b;
  text-decoration: none;
}

.parallax {
  overflow: hidden;
}
.parallax-image {
  /* Add buffer to prevent whitespace when this element moves with parallax */
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
  height: calc(100% + 70px);
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

#word-input input,
#letter-position input {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  width: 80%;
}

.mentor {
  position: relative;
  margin-bottom: 30px;
}

.mentor .availability {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  color: #fff;
  background: rgba(238, 128, 43, 1);
}
.mentor .availability-taken {
  background: #aaa;
}

.mentor .media-heading {
  margin: 0;
}

.mentor .skills {
  margin-top: 6px;
}

/**
 * Design Things
 */

.navbar-header {
  padding-top: 7px;
  padding-bottom: 7px;
}
.navbar-default {
  background: #ffffff;
  border-radius: 0px;
  margin-bottom: 0px;
}
.logo {
  width: 160px;
  height: auto;
  display: block;
}
.navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  height: auto;
}
.navbar-nav {
  font-size: 0.9em;
}

.title-header {
  background: rgba(238, 128, 43, 1);
  color: #fff;
}

h1.page-title {
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}

.main {
  padding-top: 1.5rem;
}

.fluid-container .container .row {
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  background: rgba(238, 128, 43, 1);
  color: #ffffff;
  padding: 80px 0px 60px 0px;
  margin-top: 30px;
}

footer a:link,
footer a:visited {
  color: #ffffff;
}
footer a:link:hover,
footer a:visited:hover {
  color: #006180;
}
footer .fa {
  padding: 2px;
}

footer .fa-inverse {
  color: #eb7e32;
}

.fa-stack {
  vertical-align: top;
  margin-right: 6px;
  position: relative;
}

h2 .fa-stack {
  margin-top: -14px;
}

h2 .fa {
  padding-right: 10px;
}

.underline {
  text-decoration: underline;
}

.fa-top {
  top: 6px;
  color: #eb7e32;
  padding-left: 4px;
}

.fa-bottom {
  color: #eeeeee;
}

.pagination > li > a,
.pagination > li > span {
  color: #eb7e32;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #eb7e32;
  border-color: #eb7e32;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #84481a;
  background-color: #eee;
  border-color: #ddd;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .banner-slide {
    font-size: 3em;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    font-size: 1em;
  }
  .banner-slide {
    font-size: 4em;
  }
}

.leadership .figure {
  margin-bottom: 2em;
}
