<h1>A community for Wichita developers</h1>

<p>devICT is a local community for developers in Wichita, KS. We are a group of like-minded web developers gathering to help each other better ourselves as professionals and hobbyists alike. devICT welcomes front-end developers, back-end developers, designers, and all others.</p>
<p>Come join us to get real-world examples of new technologies that you can implement into your workflow today. By attending the events you will become a better developer and will meet other like-minded people from the ever-growing developer community in Wichita.</p>

<h2>A <a href="https://makeict.org" title="MakeICT">MakeICT</a> organization</h2>

<p>devICT is a branch of the MakeICT organization that focuses on making things with code. MakeICT is an incredible group whose aim is to provide local makers with the facilities, equipment, knowledge and community it takes to make awesome things.</p>
<p>If you enjoy devICT or anything it provides, please take the time to <a href="https://makeict.org" title="MakeICT">check out MakeICT</a> as well and attend some events.</p>
