<div class="small-12 columns">
  <% content_for :title do %>
    devICT Code of Conduct
  <% end %>

  <div class="conduct">
    <h1>Code of Conduct <small>&amp; Anti-Harassment Policy</small></h1>
    <p>
      devICT is dedicated to providing a safe and harassment-free experience for
      everyone, regardless of gender, gender identity and expression, sexual
      orientation, disability, physical appearance, body size, race, age,
      religion, technical ability, or software preferences. We do not tolerate
      harassment in any form. Sexual language and imagery is not appropriate for
      any devICT meetup or chatroom.
    </p>
    <p><strong>
      Anyone violating these rules may be asked to leave the meetup or chatroom
      at the discretion of devICT organizers.
    </strong></p>
    <p>
      Harassment includes
      <ul>
        <li>Offensive comments related to gender, age, sexual orientation,
        disability, physical appearance, body size, race, religion, technical
        ability or software preferences</li>
        <li>Sexual images in public spaces</li>
        <li>Deliberate intimidation, stalking, following, harassing photography
        or recording</li>
        <li>Sustained disruption of talks or other events</li>
        <li>Inappropriate physical contact</li>
        <li>Unwelcome sexual attention.</li>
      </ul>
    </p>
    <p>
      Members asked to stop any harassing behavior are expected to comply
      immediately.
    </p>
    <p>
      Sponsors, organizers, and speakers are also subject to the anti-harassment
      policy.
    </p>
    <p>
      This anti-harassment policy is based on the example policy from the
      <a href="http://geekfeminism.wikia.com/wiki/Community_anti-harassment">
      Geek Feminism wiki</a>, created by the Geek Feminism community.
    </p>
  </div>
</div>
