<% content_for :title do %>
  ICT Game Jam - Summer 2015
<% end %>

<div class="gamejam row">
  <div class="small-12 columns">
    <h1>ICT Game Jam 2015 <small>presented by devICT and The Labor Party</small></h1>
    <p><img src="/assets/gamejam/2015/ictGameJam-Tweeters-Banner.jpg"></p>
    <h2>Whether you missed out, or made it to our first game jam, check out the media below and fill out the survey.  Help us build more awesome events like this in Wichita!!</h2>

    <ul>
      <li><strong><a href="http://gamesided.com/2015/08/07/first-local-game-jam-fosters-future-development-community/" title="Awesome Wichita Game Jam Coverage!!">First Local Game Jam Fosters Future Development, Community</a></strong> by Rebekah Valentine at <a href="http://gamesided.com" title="Gamesided.com">Gamesided.com</a></li>
      <li><a href="https://drive.google.com/folderview?id=0BxrmMsGS92hqZWlIcXdqYzkxelU&usp=sharing" title="2015 ICT Game Jam - Pictures from TheSaveState.com" title="2015 ICT Game Jam Pitures!!">Event Photos</a> from Seth Duncan at <a href="http://thesavestate.com/" title="The SaveState">The SaveState</a></li>
    </ul>

    <p><a href="http://goo.gl/forms/MtTwSvOPf3" title="Fill out the post-gamejam, future game dev survey!!!"><button class="button large button-primary">Fill out the post-event, future survey!!</button></a></p>

    <h2>BEHOLD!  The results of Wichita's first game jam!!</h2>

    <p class="lead"><strong>Check out these teams and try out their games!!</strong></p>    

    <h3>Team GoldenEar - Judges’ Choice!</h3>
    <p>Game: <strong><a href="http://doshitan.com/tmp/golden-ear/">GoldenEar</a></strong></p>
    <p>People:</p>
    <ul>
      <li>Michael Neth - Game Design, Art - <a href="https://twitter.com/infernocloud">Twitter</a> - <a href="https://www.linkedin.com/in/infernocloud">LinkedIn</a></li>
      <li>Tanner Doshier - Game Design, Programming - <a href="http://doshitan.com">Website</a></li>
      <li>Jordan Dyke - Art, Writing, Sound - <a href="http://www.twitter.com/JordanGRFX">Twitter</a> - <a href="http://www.linkedin.com/in/jordangrfx">LinkedIn</a></li>
    </ul>
    <p>Tools: Custom engine - HTML5+Javascript, built using <a href="http://elm-lang.org/" title="Elm Programming Language">Elm</a>.  <a href="http://www.adobe.com/" title="Adobe Products">Adobe</a> Suite</p>

    <h3>Caffiene&Dreams - Community Choice!</h3>
    <p>Game: <strong>The Unlucky Apprentice</strong></p>
    <p>People:</p>
    <ul>
      <li>Scott Faulkner</li>
      <li>Logan Edwards</li>
      <li>Melody Springs</li>
      <li>Jon Simpson</li>
    </ul>
    <p>Tools: <a href="http://unity3d.com/" title="Unity3D">Unity</a>, <a href="http://www.autodesk.com/products/3ds-max/overview" title="3D Studio Max">3DS Max</a>, <a href="http://www.adobe.com/" title="Adobe Products">Adobe</a> Suite</p>

    <h4>Team Dump Truckin’ - Honorable Mention for Efficiency</h4>
    <p>Game: <strong><a href="http://barrettmorgandesignllc.com/jumptruckn/">Jump Truckin'</a></strong></p>
    <p>People:</p>
    <ul>
      <li>Cathereine Janzen</li>
      <li>Barrett Morgan</li>
    </ul>
    <p>Tools: <a href="http://phaser.io/" title="Phaser">Phaser</a>, <a href="http://www.adobe.com/" title="Adobe Products">Adobe</a> Suite</p>

    <h4>Number One Team - Honorable Mention for Ambition</h4>
    <p>Game: <strong>Sailor Sam</strong></p>
    <p>People:</p>
    <ul>
      <li>Brian Foster</li>
      <li>Brady Haag</li>
      <li>Stephanie Holland</li>
      <li>Espen Tjeldnes</li>
    </ul>
    <p>Tools: <a href="http://unity3d.com/" title="Unity3D">Unity</a>, <a href="http://www.autodesk.com/products/3ds-max/overview" title="3D Studio Max">3DS Max</a>, <a href="http://www.brashmonkey.com/spriter.htm" title="Spriter">Spriter</a>, <a href="http://www.adobe.com/" title="Adobe Products">Adobe</a> Photoshop, <a href="https://www.image-line.com/flstudio/" title="FL Studio">FL Studio</a></p>

    <h4>Chicken Engine After Tuesday</h4>
    <p>Game: <strong><a href="http://vexbin.itch.io/">Fluster Cluck</a></strong></p>
    <p>People:</p>
    <ul>
      <li>Michael Karpinski</li>
      <li>Matt Krehbiel</li>
      <li>Colton Pfannenstiel</li>
    </ul>
    <p>Tools: <a href="http://www.yoyogames.com/studio" title="Game Maker Studio">Game Maker Studio</a>, <a href="http://www.adobe.com/" title="Adobe Products">Adobe</a> Photoshop, <a href="http://www.gimp.org/" title="GIMP">GIMP</a></p>

    <h4><a href="https://twitter.com/quickdrawstudio" title="Quickdraw Games Studio Twitter">Quickdraw Games Studio</a></h4>
    <p>Game: <strong>Opossum: The Power to Play Dead</strong></p>
    <p>People:</p>
    <ul>
      <li>Cody Harryman</li>
      <li>Nicolas Gallo</li>
    </ul>
    <p>Tools: <a href="http://unity3d.com/" title="Unity3D">Unity</a>, <a href="http://www.adobe.com/" title="Adobe Products">Adobe</a> Photoshop, <a href="http://audacityteam.org/" title="Audacity">Audacity</a>, <a href="http://www.brashmonkey.com/spriter.htm" title="Spriter">Spriter</a></p>

    <h4>Alone in the Dark</h4>
    <p>Game: <strong>Fallin’ for Putin</strong></p>
    <p>People:</p>
    <ul>
      <li>Rafi James - Game Design, Artist</li>
      <li>Kody Kostboth - Developer</li>
      <li>Christian Amposta - Developer</li>
    </ul>
    <p>Tools: <a href="http://unity3d.com/" title="Unity3D">Unity</a>, <a href="http://www.adobe.com/" title="Adobe Products">Adobe</a> Photoshop</p>

    <h4>This Table</h4>
    <p>Game: <strong><a href="http://felixnemis.github.io/ICTjam1">What's Up, Chuck?</a></strong></p>
    <p>People:</p>
    <ul>
      <li>Chris Lofland</li>
      <li>Charles Burnham</li>
      <li>Michael Acker</li>
      <li>Casey Gillihan</li>
    </ul>
    <p>Tools: <a href="http://phaser.io/" title="Phaser">Phaser</a>, BFXR, Bosca Ceoil, <a href="http://audacityteam.org/" title="Audacity">Audacity</a>, <a href="http://www.adobe.com/" title="Adobe Products">Adobe</a> Photoshop, <a href="https://krita.org/" title="Krita">Krita</a>, <a href="http://www.gimp.org/" title="GIMP">GIMP</a>, <a href="http://www.mapeditor.org/" title="Tiled">Tiled</a></p>

    <h3>Thanks to our AWESOME Sponsors!</h3>
    <!--<p><img src="/assets/gamejam/2015/GameJamFlier-SPONSORS.jpg"></p>-->
    <p style="text-align: center">
      <a href="http://makeict.org/"><img src="/assets/gamejam/2015/GameJamFlier-SPONSORS_01.jpg"></a>
      <a href="http://www.butlercc.edu/info/201155/interactive-and-3d-technology"><img src="/assets/gamejam/2015/GameJamFlier-SPONSORS_02.jpg"></a>
      <a href="http://roll20.net/"><img src="/assets/gamejam/2015/GameJamFlier-SPONSORS_03.jpg"></a>
      <a href="http://labor-party.com/"><img src="/assets/gamejam/2015/GameJamFlier-SPONSORS_04.jpg"></a>
      <a href="http://www.barrettmorgandesignllc.com/"><img src="/assets/gamejam/2015/GameJamFlier-SPONSORS_05.jpg"></a>
      <a href="http://www.fireshark.com/"><img src="/assets/gamejam/2015/GameJamFlier-SPONSORS_06.jpg"></a>
      <a href="http://battlestationsgaming.com/"><img src="/assets/gamejam/2015/GameJamFlier-SPONSORS_07.jpg"></a>
    </p>
  </div>
</div>
