<% content_for :title do %>
  ICT Game Jam - Summer 2015
<% end %>

<div class="gamejam row">
  <div class="small-12 columns">
    <h1>ICT Game Jam 2015 <small>presented by devICT and The Labor Party</small></h1>
    <p><img src="/assets/gamejam/2015/ictGameJam-Tweeters-Banner.jpg"></p>

    <h2>We're throwing a game jam this summer, and our game jam NEEDS YOU!!</h2>

    <p>Do you live in Wichita and want to make a video game?  Do you live outside of Wichita, but would travel here for a game jam?  Yes??  Perfect!</p>

    <p>
      The conditions have never been better to throw a gamejam in Wichita!  There have not been so many freely available tools for building video games as there are now.  And our region is teeming with motivated and resourceful programmers, designers and artists.  We truly have no choice but to spend a weekend creating video games!
    </p>

    <p class="lead"><strong>This is why The Labor Party is hosting ICTGameJam, July 31st - August 2nd 2015!</strong></p>

    <p><a href="https://makeict.wildapricot.org/event-1951299/" title="RSVP for the Game Jam!"><button class="button large button-primary">Sign up for the Game Jam!</button></a></p>

    <h3>Here's how it will go:</h3>

    <ol>
      <li>Arrive Friday evening to vote on a theme, team up and get started!</li>
      <li>Saturday is an all-day crunch session.</li>
      <li>Sunday morning your team makes a short gameplay video and sets up for judges and peers to demo your game.</li>
      <li>We’ll announce a winner from both the Judges’ panel and the community vote.</li>
      <li><strong>Winning teams will each receive $1000 split amongst team members, provided by <a href="https://butlercc.edu/" title="Butler Community College">Butler Community College</a>!</strong></li>
    </ol>

    <p>Do you want to be a part of Wichita’s first gamejam? Hahahahahahaha. HA! <strong>Of course you do!!!</strong></p>

    <p><strong>Follow these simple instructions:</strong></p>

    <ul class="disc">
      <li><a href="https://makeict.wildapricot.org/event-1951299/" title="ICT Game Jam Signup">RSVP for the event! DO IT NOW!</a></li>
      <li>Follow @ICTGameJam on Twitter for updates like</li>
      <ul>
        <li>Prize and sponsorship details.</li>
        <li>How to get started with Unity3D, Unreal Engine, PhaserJS.</li>
        <li>Free assets and tools for making games.</li>
        <li>More hype!</li>
      </ul>
      <li>GET EXCITED.</li>
      <li>MAKE GAMES.</li>
    </ul>
  </div>

  <h2>More Information</h2>

  <h4><strong>Tools</strong></h4>
  <p>In general, you can use whatever programs you need to create your game.  Regarding game engines, we prefer you use one that is publicly or otherwise freely available.  The goal here is that coding-wise, everyone has the same resources available and are judged on the merit of what they produce during the event.</p>

  <p>If you use pre-made, personal libraries or code, we encourage that if you don't supply the code itself for review use by others, at least share any guides or examples that may solve the same problem.</p>

  <p>If you use pre-existing or modify existing assets, please give credit to the original creators.  Likewise, if your art is 100% original starting July 31st, make sure to emphasize that!</p>

  <p>In general, we will not require submissions be open source, but it's encouraged, assuming it's not in violation of copyright or other restrictions.  We will request source code or project files for review by the judges.  We will also request that submissions list which portions were written over the weekend, which publicly available code or tools were used, and which privately owned code or tools were used.  The point of this is to equip the judges with an accurate picture of what you and your team accomplished during the jam.</p>

  <h4><strong>Remote work</strong></h4>
  <p>You will need to bring your own computer or any other tools you might need.  To play it safe, you might bring your own power strip and/or extension cord.  We have some of these available, but it's best to plan for a shortage!  Worst case, you don't need them and can leave them in your car or backpack.</p>
  <p>We'd ask that most, if not all of the teammates are in-house.  If nothing else, try to make sure everyone is there for Saturday.  We won't necessarily turn away teammates who can't be there the whole weekend, but it would be best to have most of your team there during judging in case judges or other teams have questions.  While there are prizes etc, the goal of this event is to connect people in our area who want to make games.  It's tough to do that without those people in the building!!</p>

  <h4><strong>Team Cost</strong></h4>
  <p>Each individual is required to register and pay separately.  There will be opportunities to establish your team either before the event via survey or at the event on Friday.</p>

  <h4><strong>Computers, equipment</strong></h4>
  <p>You will need to bring your own computer or any other tools you might need.  To play it safe, you might bring your own power strip and/or extension cord.  We have some of these available, but it's best to plan for a shortage!  Worst case, you don't need them and can leave them in your car or backpack.</p>

  <h3>What are you waiting for?!</h3>
  <p><a href="https://makeict.wildapricot.org/event-1951299/" title="RSVP for the Game Jam!"><button class="button large button-primary">Sign up for the Game Jam!</button></a></p>
</div>
