<% content_for :title do %>
    ICT Game Jam - Summer 2015
  <% end %>

<div class="gamejam">
    <h1>ICT Game Jam 2015 <small>presented by devICT and The Labor Party</small></h1>
    <p><img src="/assets/gamejam/2015/ictGameJam-Tweeters-Banner.jpg"></p>
    <h2>We're throwing a game jam this summer, and our game jam NEEDS YOU!!</h2>
    <p class="lead">Do you live in Wichita and want to make a video game?  Do you live outside of Wichita, but would travel here for a game jam?  Yes??  Perfect!</p>
    <p class="lead">devICT is planning the ICT Game Jam for Summer 2015, and we'd love to get some feedback from you so we can make this event the best it can be.  Please <a href="https://docs.google.com/forms/d/1WLJ4eBtKn8Vbz-6qGWKQ8HVJy-XcuCev-wpHtBQjVzk/viewform?usp=send_form">fill out our planning survey</a>, join or start a conversation at <a href="https://talk.devict.org/">talk.devict.org</a>, and follow <a href="https://twitter.com/ICTGameJam">@ictgamejam if you like!</a></p>

    <p><a style="color: white;" href="https://docs.google.com/forms/d/1WLJ4eBtKn8Vbz-6qGWKQ8HVJy-XcuCev-wpHtBQjVzk/viewform?usp=send_form" <button class="button large button-primary">Fill out the planning survey!</button></a></p>

</div>

