<% content_for :title do %>
  ICT Game Jam - Summer 2015
<% end %>

<div class="gamejam row">
  <h1>ICT Game Jam 2015 <small>presented by devICT and The Labor Party</small></h1>
  <p><img src="/assets/gamejam/2015/ictGameJam-Tweeters-Banner.jpg"></p>

  <h2>We're throwing a game jam this summer, and our game jam NEEDS YOU!!</h2>

  <p>Do you live in Wichita and want to make a video game?  Do you live outside of Wichita, but would travel here for a game jam?  Yes??  Perfect!</p>

  <p>
    The conditions have never been better to throw a gamejam in Wichita!  There have not been so many freely available tools for building video games as there are now.  And our region is teeming with motivated and resourceful programmers, designers and artists.  We truly have no choice but to spend a weekend creating video games!
  </p>

  <p class="lead"><strong>This is why The Labor Party is hosting ICTGameJam, July 31st - August 2nd 2015!</strong></p>

  <p><em>Here's how it will go:</em></p>

  <ol>
    <li>Arrive Friday evening to vote on a theme, team up and get started!</li>
    <li>Saturday is an all-day crunch session.</li>
    <li>Sunday morning your team makes a short gameplay video and sets up for judges and peers to demo your game.</li>
    <li>We’ll announce a winner from both the Judges’ panel and the community vote.  Prizes will include subscriptions for Unity3D Pro and Amazon gift cards.</li>
  </ol>

  <p>Do you want to be a part of Wichita’s first gamejam? Hahahahahahaha. HA! <strong>Of course you do!!!</strong></p>

  <p><strong>Follow these simple instructions:</strong></p>

  <ul class="disc">
    <li><a href="https://makeict.wildapricot.org/event-1951299/" title="ICT Game Jam Signup">RSVP for the event! DO IT NOW!</a></li>
    <li>Follow @ICTGameJam on Twitter for updates like</li>
    <ul>
      <li>Prize and sponsorship details.</li>
      <li>How to get started with Unity3D, Unreal Engine, PhaserJS.</li>
      <li>Free assets and tools for making games.</li>
      <li>More hype!</li>
    </ul>
    <li>GET EXCITED.</li>
    <li>MAKE GAMES.</li>
  </ul>
</div>
