<div class="featured-event">
  <div class="screen-blk">
    <div class="row">
      <h2>Featured event:</h2>
      <h3>Event title here</h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <p class="feature-descript"> Featured event description would go here. Aliquam aliquet, est a ullamcorper condimentum, tellus nulla fringilla elit, a iaculis nulla turpis sed wisi. Fusce volutpat. Etiam sodales ante id nunc. Proin ornare dignissim lacus. Nunc porttitor nunc a sem. Sed sollicitudin velit eu magna. Aliquam erat volutpat.</p>
  <h2>Some of our recent events:</h2>
  <ul class="small-block-grid-2 large-block-grid-4">
    <li><h4>Title here</h4><%= image_tag "logo.png", alt:"Upfront Wichita" %></li>
    <li><h4>Title here</h4><%= image_tag "logo.png", alt:"Upfront Wichita" %></li>
    <li><h4>Title here</h4><%= image_tag "logo.png", alt:"Upfront Wichita" %></li>
    <li><h4>Title here</h4><%= image_tag "logo.png", alt:"Upfront Wichita" %></li>
  </ul>
</div>
