<% content_for :feature do %>
<div class="featured-event">
  <div class="screen-blk">
    <div class="row">
      <h2>Featured event:</h2>
      <h3>Game design in C#</h3>
      <p class="feature-descript">Due to a family emergency the C# presentation has been postponed. Once a schedule is available we will post a new event.</p>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <h2>Some of our recent events:</h2>
  <ul class="small-block-grid-2 large-block-grid-4">
    <li><h4>Hackathon</h4><%= image_tag "hackathon.jpg", alt:"Hackathon" %></li>
    <li><h4>Git Part II</h4><%= image_tag "gitII.jpg", alt:"Git Part 2" %></li>
    <li><h4>Git Part I</h4><%= image_tag "gitI.jpg", alt:"Git Part 1" %></li>
    <li><h4>Regex 101</h4><%= image_tag "regex101.jpg", alt:"Regular Expressions 101" %></li>
  </ul>
</div>
