<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <div class="title-header">
    <div class="container">
      <h1 class="page-title">{{ .Title }}</h1>
    </div>
  </div>

  <div class="container main">

    <div class="content">
      {{ .Content }}
    </div>

  </div>
  {{ partial "footer.html" . }}
  {{ if .Params.script }}
      <script src="{{ .Params.script }}"></script>
  {{ end }}
</body>
</html>
