<footer class="fluid-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-3">
        <img src="/images/devICT-Logo-Inverse.svg" class="img-responsive" alt="devICT logo">
      </div>
      <div class="col-xs-12 col-sm-6 pull-right text-right">
        <a href="https://twitter.com/dev_ict" aria-label="Follow devICT on Twitter">
          <i class="fa fa-twitter-square fa-4x" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/devict" aria-label="See devICT projects on Github">
          <i class="fa fa-github-square fa-4x" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/developerict" aria-label="Connect with devICT on Facebook">
          <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
        </a>
        <a class="rounded" href="https://meetup.com/devict" aria-label="Find devICT events on Meetup">
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x" aria-hidden="true"></i>
              <i class="fa fa-calendar fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
        </a>
      </div>
     </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 pull-right text-right">
        <a href="/report/" >Report a Code of Conduct Incident</a>
      </div>
     </div>
  </div>
</footer>

<!-- jQuery! -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Bootstrap JS! -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>