<footer class="fluid-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-3">
        <img src="/images/devICT-Logo-Inverse.svg" class="img-responsive">
      </div>
      <div class="col-xs-12 col-sm-6 pull-right text-right">
        <a href="http://twitter.com/dev_ict"><i class="fa fa-twitter-square fa-4x"></i></a>
        <a href="https://github.com/devict"><i class="fa fa-github-square fa-4x"></i></a>
        <a href="https://www.facebook.com/developerict"><i class="fa fa-facebook-square fa-4x"></i></a>
        <a class="rounded" href="http://meetup.com/devict">
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
            </span>
        </a>
      </div>
     </div>
  </div>
</footer>

<!-- jQuery! -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Bootstrap JS! -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Our JS -->
