<footer class="row">
  <div class="">
    <hr>
    <div class="pull-right">
      <a href="http://twitter.com/dev_ict"><img src="/images/social_twitter_48.png" width=32 height=32 alt="devICT on Twitter" /></a>
      <a href="http://meetup.com/devict"><img src="/images/social_meetup_48.png" width=32 height=32 alt="devICT on Meetup" /></a>
    </div>
    <h4>2016 devICT</h4>
  </div>
</footer>

<!-- jQuery! -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Bootstrap JS! -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- Our JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
