<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}   
   <div class="container main">
    <div class="content">
      <div class="row">
        <div class="col-md-4">
          <h2><span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x fa-bottom"></i>
            <i class="fa fa-flag fa-stack-2x fa-top"></i>
          </span>
            Who we are</h2>
          <p>We are a group of individuals who have a common interest in web and software development.</p>
          <p>Our skill levels vary greatly, from complete beginners to seasoned veterans, we welcome anyone with a curiosity for programming.</p>
          <p>We strictly enforce a <a href="/conduct">Code of Conduct</a> to provide all of our members a safe and inclusive environment.</p>
          <p><strong>We aim to educate, empower and connect developers in the Wichita area.</strong></p>
        </div>

        <div class="col-md-4">
          <h2><span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x fa-bottom"></i>
            <i class="fa fa-random fa-stack-2x fa-top"></i>
          </span>
          </i>What we do</h2>
          <p>Members of devICT have one common goal: to be better at what we do. Our events and services are aimed at achieving that.</p>
          <p>To make that happen we have monthly events that are both social and educational.</p>
          <p>If you visit the <a href="/videos" title="Previous Dev Talks">Videos</a> page, you can see recordings of previously given talks.</p>
          <p><a class="btn btn-lg btn-primary" href="/events" title="Events"><i class="fa fa-calendar"></i>View all of our events</a></p>
        </div>

        <div class="col-md-4">
          <h2><span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x fa-bottom"></i>
            <i class="fa fa-bolt fa-stack-2x fa-top"></i>
          </span>
</i>Get involved!</h2>
          <p>Most of the time we are hanging out in <a href="https://devict.slack.com" title="devICT Slack">Slack</a>. To join, just <a href="https://devict-slackin.herokuapp.com/" title="devICT Slack Registration">fill out this form</a>.</p>
          <p>Primarily, be sure to <a href="http://www.meetup.com/devict" title="devICT on Meetup">become a member on the Meetup page</a>. Then you will receive notifications for all coming events.</p>
          <p>You could also give a talk! Share the knowledge, we enjoy learning about any development related topics.</p>
          <p><a href="https://devict-slackin.herokuapp.com/" title="devICT Slack Registration" class="btn btn-lg btn-primary"><i class="fa fa-slack"></i>Come hang out with us!</a></p>
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
