<h1>New Code Challenge</h1>

<p>Use this form to create a new code challenge for the group. Try to make it challenging while still considering the skill level of others. These are meant to be fun and educational and a good way to practice our programming skills.</p>

<p>Also remember that the description accepts Markdown!</p>

<%= render 'form' %>

<%= link_to 'Back to Challenges', challenges_path, class: 'button secondary' %>
