<!DOCTYPE html>
<html>

<head>
  {{ partial "head.html" . }}
</head>

<body>
    {{ partial "header.html" . }}
  <div class="title-header">
    <div class="container">
      <h1 class="page-title">{{ .Title }}</h1>
    </div>
  </div>

  <div class="container main">

    <div class="content">
      <div class="posts">
        <div class="post">
          <span class="post-date">By {{ .Params.author }}, Published {{ .Date.Format "Jan 2, 2006 " }}</span>
          <ul id="tags" class="list-inline">
            {{ range .Params.tags }}
              <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="btn btn-warning btn-xs">{{ . }}</a> </li>
            {{ end }}
          </ul>
          <br>
          <div class="post-content">
            <div class="col-sm-8 video">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" title="{{ .Title }}" src="https://www.youtube.com/embed/{{ .Params.id }}?wmode=transparent" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

            {{ .Content }}
          </div>
        </div>

        <div class="pagination">{{ if .Prev }}
          <a class="btn previous " href="{{.Prev.Permalink}}"> Prev</a> {{ end }} {{ if .Next }}
          <a class="btn next " href="{{.Next.Permalink}}"> Next</a> {{ end }}
        </div>
      </div>
    </div>

    {{ if .Params.tags }}
    <div class="row col-lg-12 col-md-12">
      <h4><i class="fa fa-tags" aria-hidden="true"></i>
      Tags: </h4>
      <ul id="tags" class="list-inline">
        {{ range .Params.tags }}
          <li><a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="btn btn-warning btn-sm">{{ . }}</a> </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}


  </div>
    {{ partial "footer.html" . }}

</body>
</html>
