// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* these are some temp styles to make the crude version a little more readable. */
/* blow them away any time. */

.submission {
  padding: .5em;
}

.indent {
  margin-left: 1em;
}

.comment {
  background-color: #DDD;
  padding-left: .5em;
  margin-bottom: .5em;
}
