// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* these are some temp styles to make the crude version a little more readable. */
/* blow them away any time. */

.submission {
  padding: .5em;
}

.indent {
  margin-left: 1em;
}

.comment {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 15px 15px 5px 15px;
  margin-bottom: .5em;

  p:last-child {
    margin-bottom: 0;
  }
}
