@import "compass/css3";
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  @include box-sizing(border-box);
  font-family: 'Open Sans', sans-serif;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    padding-top:70px;  /*to account for fixed navigation bar*/
    font-size: 1em;
    line-height: 1.4;
    background:url("/assets/cream_pixels.png") top center repeat #FFF;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
}

h1 a,
h2 a,
h3 a,
h4 a {
  font-family: 'Oswald', sans-serif;
}

h1 a:link, h1 a:visited, h1 a:active,
h2 a:link, h2 a:visited, h2 a:active,
h3 a:link, h3 a:visited, h3 a:active,
h4 a:link, h4 a:visited, h4 a:active {
  color: #333;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
  color: #888;
}

a:link, a:visited {
  color: #ee802b;
}

a:hover, a:active {
  color: #84481a;
}

a.button.primary:link,
a.button.primary:visited {
  color: #fff;
}

.featured-event h3 a:link, .featured-event h3 a:visited,
.featured-event h4 a:link, .featured-event h4 a:visited {
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
  color: #fff;
}

.featured-event h3 a:hover, .featured-event h3 a:active {
  color: #666;
}

.row {
  max-width:75em;
}

.top-banner{
  position:fixed;
  top:0;
  width:100%;
  background:#FFF;
  z-index:100;
  box-shadow: 0 -5px 82px #CFCFCF;
  background: rgb(239,239,239); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(239,239,239,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(239,239,239,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(239,239,239,1)), color-stop(15%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(239,239,239,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 85%,rgba(239,239,239,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#efefef',GradientType=1 ); /* IE6-9 */
}
.main-nav{
  font-size: 0.9em;
  padding-top:33px;
}

.social-tab{
  background:#FCFCFC;
  color:#333;
  border-radius:0 0 10px 10px;
  position:fixed;
  top:0;
  right:5%;
  width:11em;
  text-align:center;
  box-shadow:0 3px 8px #999;
  z-index:101;
}

.social-tab a{
  color:#333;
}
.social-dropdown{
  background:#EEE;
  position:absolute;
  top:-30em;
  display:block;
  width:22em;
  height:30em;
  right:5%;
  background:red;
  border-radius:0 0 0 10px;
  z-index:999;
}

#notifications p {
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 0;
}
#notifications #error {
  background: rgba(200, 0, 0, .8);
}
#notifications #notice {
  background: rgba(0, 0, 200, .8);
}

.content {
  padding-top: 15px;
}

.content h1 {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.content h2 {
  font-family: 'Oswald', sans-serif;
}

p.pull-right {
  margin-left: 10px;
}

.header-button {
  margin-top: 10px;
}

.featured-event{
  background: url("/assets/ruby-screenshot-tilt.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block;
  height:400px;
  width:100%;
  position:relative;
  margin-bottom:12px;
}
.featured-event .screen-blk{
  position:absolute;
  bottom:0;
  width:100%;
  padding: 10px 0;
}
.featured-event img {
  margin-bottom: 10px;
}
.screen-blk{
  background:rgba(0,0,0,0.75);
}
.screen-blk h2{
  font-size:medium;
  color:#f1822d;
}
.screen-blk h3 {
  font-size: 4em;
  color: #ddd;
}
.screen-blk p {
  color: #bbb;
  font-size: 20px;
  line-height: 1.3em;
}
.screen-blk a:link,
.screen-blk a:visited {
  color: #f1822d;
}
.screen-blk a:hover,
.screen-blk a:active {
  color: #fff;
}

.event-list li {
  position: relative;
}

.event-list li h4 {
  position: absolute;
  bottom: -5px;
  left: 10px;
  width: 235px;
  height: 178px;
  line-height: 1.3em;
  font-size: 2.5em;
  padding: 10px;
  background:rgba(0,0,0,0.75);
}

.event-list a h4, .event-list a:visited h4 {
  color:#999;
}
.event-list a:hover h4 {
  color: #fff;
}
.sub-nav dt, .sub-nav dd{
  margin-left:1em;
}

/**
 * Pagination Styles
 */
.pagination {
  float:right;
  font-size: 1.2em;
  border: 1px solid #eee;
  background: #fff;
  padding: 10px;
  height: 40px;
}
.pagination .page {
  margin-right: 7px;
}
.pagination .current {
  background: #EE802B;
  color: #fff;
  border-radius: 3px;
  padding: 3px 3px 3px 8px;
}
.pagination .first,
.pagination .last {
  display: none;
}

/* Services */
#services_list li {
  list-style: none;
  float: left;
  transition: 0.5s all;
}
#services_list li:hover {
  margin-top: -5px;
}
#services_list li img {
  margin: 0;
  padding: 0;
}

p.actions {
  padding-top: 15px;
  border-top: 1px solid #eee;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.float-list li {
  list-style: none;
  float: left;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
