// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submission {
  border-bottom: 1px solid #eee;
  overflow: auto;

  h4 { font-size: 1.7em; }

  h4 a:link,
  h4 a:visited {
    color: #444;
  }
}

.submission-actions {
  margin-top: 8px;

  a:first-child {
    margin-left: 15px;
  }
}

#submission_code {
  font-family: monospace;
  height: 300px;
}

.content pre.prettyprint {
  padding: 15px;
  line-height: 1;
  border: 1px solid #444;
  margin-bottom: 15px;
}
pre.prettyprint p {
  font-family: monospace;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 0.6;
}

pre.prettyprint p span {
  font-family: monospace;
  margin: 0;
  padding: 0;
}
