<h1>Welcome to the Upfront Wichita IRC Channel</h1>
<p>Ask us a question about web development, or just come in to say hi--we like to chat!</p>
<p>To say hello, enter your nickname below and click Connect.</p>
<!-- this doesn't seem to work with freenode, getting a Flash policy problem. probably a dead end. -->
<iframe src="http://lightirc.com/start/?host=irc.freenode.net&autojoin=%23devict&showNickSelection=true" style="width:100%; height:600px;"></iframe>
