<h1>Welcome to the DevICT IRC Channel</h1>
<p>Ask us a question about web development, or just come in to say hi--we like to chat!</p>
<p>To say hello, just enter a nickname below and click Start.</p>
<iframe src="https://kiwiirc.com/client/irc.freenode.net/#devict" style="border:0; width:100%; height:600px;"></iframe>
