<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}

  <div class="title-header">
    <div class="container">
      <h1 class="page-title">Meeting Minutes and Agendas</h1>
    </div>
  </div>

  <div class="container main">
    <div class="content">
      <div class="posts">
        {{ range .Pages }}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a> {{ if .Params.minutes }}Minutes{{ else }}Agenda{{ end }}
        </li>
        {{ end }}
      </div>
    </div>
  </div>

  {{ partial "footer.html" . }}
</body>

</html>
