<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="videos">
    {{ partial "header.html" . }}
  <div class="title-header">
    <div class="container">
      <h1 class="page-title">{{ .Title }}</h1>
    </div>
  </div>

  <div class="container main">
    <div class="highlight" role="alert">
      <a href = "/tags">
        <i class="fa fa-tags" aria-hidden="true"></i>
        Search Your Favorite Topics By Tags
      </a>
    </div>
    <div class="content">
      <div class="posts">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "videos") 8 }}
        {{ range $i, $page := $paginator.Pages }}
          {{ if or (eq $i 0) (eq $i 4) }}
            <div class="row">
          {{ end }}

          <div class="col-md-3">
            <a href="{{ $page.Permalink }}">
              <img width="100%" src="https://i.ytimg.com/vi/{{ $page.Params.id }}/hqdefault.jpg" />
              {{ $page.Title }}
            </a>
            <p>
            {{ $page.Params.author }}
            <br/>
            {{ $page.Date.Format "2006-01-02" }}
            </p>
          </div>

          {{ if or (eq $i 3) (eq $i 7) }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>

    {{ template "_internal/pagination.html" . }}

    <div class="col-lg-12 col-md-12">
      <h4><i class="fa fa-tags" aria-hidden="true"></i>Tags:</h4>
      <ul id="all-tags" class="list-inline">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <li>
            <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}" class="btn btn-warning btn-xs">
              {{ $name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>

  </div>
    {{ partial "footer.html" . }}
</body>
</html>
