<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>
    {{ partial "header.html" . }}
  <div class="container">
    <div class="alert alert-success" role="alert">
      <a href = "/tags">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
        Click To Search Your Favorite Topics By Tags
      </a>
    </div>
    <div class="content">
      <div class="posts">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "videos") 8 }}
        <div class="row">
        {{ range $paginator.Pages }}
          <div class="col-md-3">
            <a href="{{ .Permalink }}">
              <img width="100%" src="https://i.ytimg.com/vi/{{ .Params.id }}/hqdefault.jpg" />
              {{ .Title }}
            </a>
            <p>
              {{ .Params.author }}, {{ .Date.Format "2006-01-02" }}
            </p>
          </div>
        {{ end }}
        </div>
      </div>
    </div>

    {{ template "_internal/pagination.html" . }}
 

    <div class="col-lg-12 col-md-12">
      <h4>Tags:</h4>
      <ul id="all-tags" class="list-inline">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <li>
            <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}">
              {{ $name }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>

  </div>
    {{ partial "footer.html" . }}
</body>
</html>
